page-about {
.btn_informacion{
  padding: 10px 10px;
}
.btn_ingresar{
  padding: 10px 10px;
}
.amijo
{
    font-weight: bold;
    color: #F5D871;
    background-color: #144D53;


}
.cajas
{
  text-align: center;
  width: 49%;
  height: 105px;
  display: inline-block;
}


.btn_historia
{
  background-image: url("../../assets/img/btn1.png");
  background-attachment: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.btn_ventajas{

  background-image: url("../../assets/img/btn2.png");
  background-attachment: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.btn_facultades{
  background-image: url("../../assets/img/btntres.png");
  background-attachment: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.btn_admision{
  background-image: url("../../assets/img/btn3.png");
  background-attachment: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.btn_admision{
  background-image: url("../../assets/img/btn4.PNG");
  background-attachment: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.btn_informacionfin{
  background-image: url("../../assets/img/btn5.PNG");
  background-attachment: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.btn_campus{
  background-image: url("../../assets/img/btn6.png");
  background-attachment: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.btn_contactos{
  background-image: url("../../assets/img/btn7.png");
  background-attachment: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.btn_redes{
  background-image: url("../../assets/img/ika.png");
  background-attachment: 100%;
  background-repeat: no-repeat;
  background-position: center center;

}


.button
{

  height: 90px;
  width: 90px;
  border-style: solid;
  border-radius: 50%;
  border-width: 5px ;
  border-color: #F5D871;
}

}
