page-home {
.drugs
{
  background-image: url("../../assets/sistema/foto.png") ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 15% ;
  background-color: #144D53;

}
.footer
{
  color: rgb(134, 134, 134);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
}
